@keyframes react-loading-skeleton {
    to {
        transform: translate(100%)
    }
}

.react-loading-skeleton {
    --base-color: #ebebeb;
    --highlight-color: #f5f5f5;
    --animation-duration: 1.5s;
    --animation-direction: normal;
    --pseudo-element-display: block;
    background-color: var(--base-color);
    width: 100%;
    border-radius: .25rem;
    display: inline-flex;
    line-height: 1;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    overflow: hidden;
    z-index: 1
}

.react-loading-skeleton:after {
    content: " ";
    display: var(--pseudo-element-display);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-image: linear-gradient(90deg, var(--base-color), var(--highlight-color), var(--base-color));
    transform: translate(-100%);
    animation-name: react-loading-skeleton;
    animation-direction: var(--animation-direction);
    animation-duration: var(--animation-duration);
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite
}

@media(prefers-reduced-motion) {
    .react-loading-skeleton {
        --pseudo-element-display: none
    }
}


.text--6xl {
    font-size: var(--text-6xl)
}

.text--5xl {
    font-size: var(--text-5xl)
}

.text--4xl {
    font-size: var(--text-4xl)
}

.text--3xl {
    font-size: var(--text-3xl)
}

.text--2xl {
    font-size: var(--text-2xl)
}

.text--xl {
    font-size: var(--text-xl)
}

.text--lg {
    font-size: var(--text-lg)
}

.text--md {
    font-size: var(--text-md)
}

.text--sm {
    font-size: var(--text-sm)
}

.text--xs {
    font-size: var(--text-xs)
}

.weight--light {
    font-weight: var(--light)
}

.weight--regular {
    font-weight: var(--regular)
}

.weight--medium {
    font-weight: var(--medium)
}

.weight--semibold {
    font-weight: var(--semibold)
}

.weight--bold {
    font-weight: var(--bold)
}

.weight--extrabold {
    font-weight: var(--extrabold)
}

.text--semibold {
    font-weight: var(--semibold)
}

.text--bold {
    font-weight: var(--bold)
}

.text--extrabold {
    font-weight: var(--extrabold)
}

.menu {
    font-family: var(--primary-font-family);
    font-size: var(--text-md);
    font-weight: var(--regular);
    line-height: calc(var(--text-md)*24/16);
    letter-spacing: 1%
}

.title {
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*28/21)
}

.title,
.title-sm {
    font-family: var(--primary-font-family);
    font-weight: var(--semibold)
}

.title-sm {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

.header {
    font-family: var(--primary-font-family);
    font-size: var(--text-3xl);
    font-weight: var(--bold);
    line-height: calc(var(--text-3xl)*32/28)
}

.caption {
    font-size: var(--text-sm);
    line-height: calc(var(--text-sm)*20/14)
}

.caption,
.caption-sm {
    font-family: var(--secondary-font-family);
    font-weight: var(--regular)
}

.caption-sm {
    font-size: var(--text-xs);
    line-height: calc(var(--text-xs)*16/12);
    letter-spacing: .25%
}

.eyebrow {
    font-family: var(--secondary-font-family);
    font-size: var(--text-sm);
    font-weight: var(--semibold);
    line-height: calc(var(--text-sm)*20/14)
}

.body {
    font-size: var(--text-lg);
    line-height: calc(var(--text-lg)*28/18);
    letter-spacing: .25%
}

.body,
.body-sm {
    font-family: var(--secondary-font-family);
    font-weight: var(--regular)
}

.body-sm {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

.button {
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*28/21)
}

.button,
.button-sm {
    font-family: var(--secondary-font-family);
    font-weight: var(--medium);
    letter-spacing: -1%
}

.button-sm {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

.menu-item {
    font-size: var(--text-sm);
    font-weight: var(--bold);
    line-height: var(--text-md);
    font-family: var(--default-secondary-font-family)
}

.center {
    display: flex;
    align-items: center
}

.color-neutral-100,
body {
    color: var(--color-neutral-100)
}

.color-neutral-400 {
    color: var(--color-neutral-400)
}

button {
    border: none;
    text-align: center;
    padding: none;
    white-space: nowrap;
    cursor: pointer;
    background: none;
    color: var(--color-neutral-100);
    transition: .25s ease-in-out
}

button:hover {
    opacity: 50%
}

.ctaButton {
    background: var(--color-gradient-primary);
    cursor: pointer
}

.ctaButton:hover {
    background: var(--color-gradient-primary-hover)
}

a {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    color: inherit;
    text-decoration: none
}

.gradientBorderOnHover {
    --gradient-border-radius: var(--space-xs);
    --gradient-border: linear-gradient(transparent, transparent), linear-gradient(86.63deg, #4126e8 2.98%, #ea1aba 38.52%, #10a6d6 89.36%);
    --gradient-thickness-px: 2px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    z-index: 1
}

.gradientBorderOnHover:before {
    content: "";
    background-image: var(--gradient-border);
    position: absolute;
    border-radius: calc(var(--gradient-border-radius) + var(--gradient-thickness-px)) !important;
    z-index: 0;
    opacity: 1 !important
}

.gradientBorderOnHover:hover:before {
    --gradient-thickness-px: 2px;
    inset: calc(-1*var(--gradient-thickness-px)) !important;
    transition: inset .2s ease-in-out
}

.gradientBorder {
    --gradient-border-radius: var(--space-xs);
    --gradient-border: linear-gradient(transparent, transparent), linear-gradient(86.63deg, #4126e8 2.98%, #ea1aba 38.52%, #10a6d6 89.36%);
    --gradient-thickness-px: 2px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    z-index: 1
}

.gradientBorder:before {
    content: "";
    background-image: var(--gradient-border);
    position: absolute;
    border-radius: calc(var(--gradient-border-radius) + var(--gradient-thickness-px)) !important;
    z-index: 0;
    opacity: 1 !important;
    --gradient-thickness-px: 2px;
    inset: calc(-1*var(--gradient-thickness-px)) !important;
    transition: inset .2s ease-in-out
}

.gradientShadow {
    z-index: 1
}

.gradientShadow:hover:before {
    opacity: 1;
    box-shadow: 0 0 50px rgba(61, 11, 111, .502), 0 0 27.648px rgba(61, 11, 111, .4), 0 0 16.128px rgba(61, 11, 111, .502), 0 0 8.064px rgba(61, 11, 111, .502), 0 0 2.304px #3d0b6f, 0 0 1.152px #3d0b6f
}

.gradientShadow:before {
    content: "";
    border-radius: calc(var(--space-xs) + 2px);
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out, box-shadow .2s ease-in-out
}

:root {
    --default-primary-font-family: "Fira sans", normal;
    --default-secondary-font-family: "Fira sans", normal;
    --default-tertiary-font-family: "PP Fraktion Sans";
    --primary-font-family: var(--default-primary-font-family);
    --secondary-font-family: var(--default-secondary-font-family);
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --bold: 700;
    --extrabold: 900;
    --text-scale-ratio: 1.154701;
    font-size: 16px;
    --text-xs: calc(1rem / (var(--text-scale-ratio) * var(--text-scale-ratio)));
    --text-sm: calc(1rem / var(--text-scale-ratio));
    --text-md: 1rem;
    --text-lg: calc(1rem * var(--text-scale-ratio));
    --text-xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-2xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-3xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-4xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-5xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-6xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-7xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-8xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --text-9xl: calc(1rem * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio) * var(--text-scale-ratio));
    --space-3xs: .25em;
    --space-2xs: .375em;
    --space-xs: .5em;
    --space-sm: .75em;
    --space-md: 1em;
    --space-lg: 1.25em;
    --space-2lg: 1.5em;
    --space-xl: 2em;
    --space-2xl: 4em;
    --space-3xl: 8em;
    --space-unit-fixed: 16px;
    --space-3xs-fixed: calc(.25 * var(--space-unit-fixed));
    --space-2xs-fixed: calc(.375 * var(--space-unit-fixed));
    --space-xs-fixed: calc(.5 * var(--space-unit-fixed));
    --space-sm-fixed: calc(.75 * var(--space-unit-fixed));
    --space-md-fixed: calc(1 * var(--space-unit-fixed));
    --space-lg-fixed: calc(1.25 * var(--space-unit-fixed));
    --space-2lg-fixed: calc(1.5 * var(--space-unit-fixed));
    --space-xl-fixed: calc(2 * var(--space-unit-fixed));
    --space-2xl-fixed: calc(4 * var(--space-unit-fixed));
    --space-3xl-fixed: calc(8 * var(--space-unit-fixed));
    overflow-y: overlay;
    --blur-light: 4px;
    --blur-strong: 16px;
    --nav-bar-height: 92.6px
}

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    --mantine-color-error: var(--color-error-400)
}

.circle {
    border-radius: 50%;
    background-color: var(--color-neutral-400);
    width: 4px;
    height: 4px
}

._root_yp8qz_1 {
    display: inline-flex;
    flex-direction: row;
    background-color: var(--color-neutral-700);
    padding: var(--space-2lg-fixed) var(--space-xl-fixed);
    border-radius: var(--space-xs);
    gap: var(--space-lg);
    max-width: 484px;
    align-items: center
}

._infoContainer_yp8qz_12 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start
}

._txnTitle_yp8qz_18 {
    margin-bottom: var(--space-2xs)
}

._imageContainer_yp8qz_22 {
    width: 80px;
    max-width: 80px;
    max-height: 80px
}

._closeButtonContainer_yp8qz_28 {
    width: 24px;
    cursor: pointer;
    margin-left: auto;
    align-self: baseline
}

._gradientBorderOnHover_1uy1c_1 {
    --gradient-border-radius: var(--space-xs);
    --gradient-border: linear-gradient(transparent, transparent), linear-gradient(86.63deg, #4126e8 2.98%, #ea1aba 38.52%, #10a6d6 89.36%);
    --gradient-thickness-px: 2px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    z-index: 1
}

._gradientBorderOnHover_1uy1c_1:before {
    content: "";
    background-image: var(--gradient-border);
    position: absolute;
    border-radius: calc(var(--gradient-border-radius) + var(--gradient-thickness-px)) !important;
    z-index: 0;
    opacity: 1 !important
}

._gradientBorderOnHover_1uy1c_1:hover:before {
    --gradient-thickness-px: 2px;
    inset: calc(-1*var(--gradient-thickness-px)) !important;
    transition: inset .2s ease-in-out
}

._gradientBorder_1uy1c_1 {
    --gradient-border-radius: var(--space-xs);
    --gradient-border: linear-gradient(transparent, transparent), linear-gradient(86.63deg, #4126e8 2.98%, #ea1aba 38.52%, #10a6d6 89.36%);
    --gradient-thickness-px: 2px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    z-index: 1
}

._gradientBorder_1uy1c_1:before {
    content: "";
    background-image: var(--gradient-border);
    position: absolute;
    border-radius: calc(var(--gradient-border-radius) + var(--gradient-thickness-px)) !important;
    z-index: 0;
    opacity: 1 !important;
    --gradient-thickness-px: 2px;
    inset: calc(-1*var(--gradient-thickness-px)) !important;
    transition: inset .2s ease-in-out
}

._gradientShadow_1uy1c_47 {
    z-index: 1
}

._gradientShadow_1uy1c_47:hover:before {
    opacity: 1;
    box-shadow: 0 0 50px rgba(61, 11, 111, .502), 0 0 27.648px rgba(61, 11, 111, .4), 0 0 16.128px rgba(61, 11, 111, .502), 0 0 8.064px rgba(61, 11, 111, .502), 0 0 2.304px #3d0b6f, 0 0 1.152px #3d0b6f
}

._gradientShadow_1uy1c_47:before {
    content: "";
    border-radius: calc(var(--space-xs) + 2px);
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    opacity: 0;
    transition: opacity .5s ease-in-out, box-shadow .2s ease-in-out
}

._base_1uy1c_68 {
    font-size: var(--text-md);
    border-radius: var(--space-xs-fixed);
    box-shadow: 0 1px 2px rgba(16, 24, 40, .051);
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: color .1s ease-in-out, background-color .25s ease-in-out, border .25s ease-in-out;
    border-image-source: linear-gradient(180deg, hsla(0, 0%, 100%, .2), hsla(0, 0%, 100%, 0))
}

._base_1uy1c_68:active {
    color: var(--color-neutral-200)
}

._base_1uy1c_68:disabled,
._base_1uy1c_68[disabled] {
    cursor: not-allowed;
    opacity: .4
}

._large_1uy1c_86 {
    padding: var(--space-md) var(--space-xl)
}

._medium_1uy1c_90 {
    padding: var(--space-xs) var(--space-md)
}

._small_1uy1c_94 {
    padding: var(--space-3xs) var(--space-md)
}

._content_1uy1c_98 {
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-md-fixed)
}

._primary_1uy1c_107 {
    color: var(--color-neutral-100);
    background: var(--color-gradient-01);
    border: 1.5px solid transparent;
    background: var(--color-gradient-01) padding-box, var(--color-gradient-01-border) border-box
}

._primary_1uy1c_107:hover:not(:disabled) {
    background: var(--color-gradient-02) padding-box, var(--color-gradient-02-border) border-box;
    opacity: 80%
}

._primary_1uy1c_107:active {
    background: var(--color-gradient-03) padding-box, var(--color-gradient-03-border) border-box
}

._secondary_1uy1c_121 {
    color: var(--color-neutral-100);
    border: 1.5px solid transparent;
    background: var(--color-primary-500)
}

._secondary_1uy1c_121:hover:not(:disabled) {
    background-color: var(--color-primary-400);
    opacity: 100%
}

._secondary_1uy1c_121:active {
    color: var(--color-neutral-200);
    background: linear-gradient(var(--color-primary-600), var(--color-primary-600)) padding-box, linear-gradient(180deg, #6e37b3 0, #4a06a0 100%) border-box
}

._tertiary_1uy1c_135 {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-100);
    border: 1.5px solid var(--color-stroke-03)
}

._tertiary_1uy1c_135:hover:not(:disabled) {
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-100);
    opacity: 100%
}

._tertiary_1uy1c_135:active {
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-300)
}

._secondaryGradient_1uy1c_150 {
    --color-direction: to top;
    background-clip: padding-box;
    outline: none;
    --gradient-border-radius: var(--space-xs);
    --gradient-border: linear-gradient(var(--color-direction), var(--color-primary-600) 0%, var(--color-secondary-500) 50%, var(--color-tertiary-500) 100%);
    --gradient-thickness-px: 1px;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    z-index: 1
}

._secondaryGradient_1uy1c_150:before {
    content: "";
    background-image: var(--gradient-border);
    position: absolute;
    border-radius: calc(var(--gradient-border-radius) + var(--gradient-thickness-px)) !important;
    z-index: 0;
    opacity: 1 !important
}

._secondaryGradient_1uy1c_150:after {
    background-clip: padding-box;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    color: var(--color-neutral-100);
    border: 1.5px solid transparent;
    border-radius: var(--gradient-border-radius);
    background-color: var(--color-neutral-800);
    top: 0;
    left: 0;
    z-index: 0
}

._secondaryGradient_1uy1c_150:before {
    --gradient-thickness-px: 1px;
    inset: calc(-1*var(--gradient-thickness-px)) !important;
    transition: inset .2s ease-in-out
}

._secondaryGradient_1uy1c_150:disabled,
._secondaryGradient_1uy1c_150[disabled] {
    --gradient-border: linear-gradient(var(--color-direction), #2a1051 0%, #181f3b 100%) !important;
    opacity: 1;
    color: var(--color-neutral-600)
}

._secondaryGradient_1uy1c_150:active {
    background-color: var(--color-neutral-600);
    color: var(--color-neutral-300)
}

._icon_1uy1c_204._secondary_1uy1c_121 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral-800);
    border: 2px solid var(--color-stroke-01);
    padding: var(--space-sm-fixed);
    aspect-ratio: 1/1
}

._icon_1uy1c_204._secondary_1uy1c_121:hover:not(:disabled) {
    background: none;
    background-color: var(--color-neutral-700);
    border: 2px solid var(--color-neutral-500);
    opacity: 100%
}

._icon_1uy1c_204._secondary_1uy1c_121:active {
    background: none;
    background-color: var(--color-neutral-900);
    border: 2px solid var(--color-neutral-700)
}

._danger_1uy1c_225 {
    background-color: var(--color-neutral-800);
    border: 1.5px solid var(--color-stroke-03);
    color: var(--color-status-error)
}

._danger_1uy1c_225:hover:not(:disabled) {
    border: 1.5px solid var(--color-quaternary-500);
    opacity: 100%
}

._danger_1uy1c_225:active {
    color: var(--color-quaternary-500)
}

._alert_1uy1c_238 {
    background-color: var(--color-neutral-800);
    border: 1.5px solid var(--color-alert-400);
    color: var(--color-alert-400)
}

._alert_1uy1c_238:hover:not(:disabled) {
    color: var(--color-alert-300);
    border: 1.5px solid var(--color-alert-300);
    opacity: 100%
}

._alert_1uy1c_238:active {
    color: var(--color-alert-300)
}

._link_1uy1c_252 {
    border: none;
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    color: var(--color-primary-200);
    transform-origin: bottom right;
    transition: transform .25s ease-out;
    border-radius: 0
}

._link_1uy1c_252 svg path {
    fill: var(--button-svg-path-fill, var(--color-primary-200));
    transition: fill .25s ease-out
}

._link_1uy1c_252 ._content_1uy1c_98:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 2px;
    left: 0;
    background-color: #ff83e2;
    transform-origin: bottom right;
    transition: transform .25s ease-out, background-color .25s ease-out
}

._link_1uy1c_252:hover:not(:disabled) ._content_1uy1c_98 {
    color: #ff83e2;
    opacity: 100%
}

._link_1uy1c_252:hover:not(:disabled) ._content_1uy1c_98:after {
    transform: scaleX(1);
    transform-origin: bottom left
}

._link_1uy1c_252:hover:not(:disabled) ._content_1uy1c_98 svg path {
    fill: var(--button-svg-path-fill-hover, #ff83e2)
}

._link_1uy1c_252:active {
    color: var(--color-primary-200)
}

._link_1uy1c_252:active:after {
    background-color: var(--color-primary-200)
}

._link_1uy1c_252:disabled,
._link_1uy1c_252[disabled] {
    opacity: 1;
    color: var(--color-neutral-400)
}

._link_1uy1c_252._small_1uy1c_94 {
    padding: var(--space-3xs-fixed) var(--space-lg-fixed)
}

._menuItem_1uy1c_303 {
    padding: 0;
    margin: 0
}

._menuItem_1uy1c_303,
._menuItem_1uy1c_303:hover:not(:disabled) ._content_1uy1c_98 {
    color: var(--color-neutral-100)
}

._menuItem_1uy1c_303 ._content_1uy1c_98:after {
    background-color: #fff;
    height: 2px;
    bottom: 0
}

._menuItem_1uy1c_303._active_1uy1c_316,
._menuItem_1uy1c_303._active_1uy1c_316:hover:not(:disabled) ._content_1uy1c_98,
._menuItem_1uy1c_303:active,
._menuItem_1uy1c_303:active:hover:not(:disabled) ._content_1uy1c_98 {
    color: var(--color-secondary-100)
}

._menuItem_1uy1c_303._active_1uy1c_316:hover:not(:disabled) ._content_1uy1c_98:after,
._menuItem_1uy1c_303:active:hover:not(:disabled) ._content_1uy1c_98:after {
    background-color: var(--color-secondary-100)
}

._bannerContainer_11nyd_1 {
    width: 100%;
    height: auto;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 100;
    display: flex;
    flex-direction: column
}

._navbar_11nyd_13 {
    display: flex;
    justify-content: space-between;
    align-items: center
}

@media(max-width:599px) {
    ._navbar_11nyd_13 {
        padding: var(--text-2xl) var(--space-lg-fixed)
    }
}

@media(min-width:600px) {
    ._navbar_11nyd_13 {
        padding: var(--text-2xl) var(--space-xl-fixed)
    }
}

@media(min-width:950px) {
    ._navbar_11nyd_13 {
        padding: var(--text-2xl) var(--space-2xl-fixed)
    }
}

@media(min-width:1200px) {
    ._navbar_11nyd_13 {
        padding: var(--text-2xl) var(--text-4xl)
    }
}

._navbarLinkImg_11nyd_39 {
    height: 20px;
    width: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center
}

._navbarLinkImg_11nyd_39,
._navbarLogoImg_11nyd_52 {
    position: relative;
    object-fit: cover;
    vertical-align: middle;
    justify-content: center
}

._navbarLogoImg_11nyd_52 {
    height: 24px;
    width: 24px;
    transform: translateY(2px)
}

._navItem_11nyd_62 {
    padding: 0 20px
}

._menu_11nyd_66 {
    align-items: center;
    display: flex
}

@media(max-width:599px) {
    ._menu_11nyd_66 {
        display: none
    }
}

@media(min-width:600px) {
    ._menu_11nyd_66 {
        display: none
    }
}

@media(min-width:950px) {
    ._menu_11nyd_66 {
        display: flex
    }
}

@media(min-width:1200px) {
    ._menu_11nyd_66 {
        display: flex
    }
}

._navbar_11nyd_13 a:hover {
    opacity: 50%
}

._hpLogoText_11nyd_95 {
    font-family: "Rotonto" var(--primary-font-family);
    font-size: var(--text-xl);
    padding-left: var(--space-2xs-fixed)
}

._navLogo_11nyd_101 {
    display: flex;
    flex-direction: row;
    align-items: center
}

._navbarHpLogoImage_11nyd_107 {
    height: var(--text-xl)
}

._burgerMenu_11nyd_111 {
    height: 24px;
    width: 24px;
    position: relative;
    object-fit: cover;
    justify-content: center;
    vertical-align: middle;
    background-color: transparent
}

@media(max-width:599px) {
    ._burgerMenu_11nyd_111 {
        display: inline-block
    }
}

@media(min-width:600px) {
    ._burgerMenu_11nyd_111 {
        display: inline-block
    }
}

@media(min-width:950px) {
    ._burgerMenu_11nyd_111 {
        display: none
    }
}

@media(min-width:1200px) {
    ._burgerMenu_11nyd_111 {
        display: none
    }
}

._burgerMenu_11nyd_111:hover {
    opacity: 50%
}

._navbarDropdown_11nyd_145 {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 0;
    left: 0;
    top: 9%;
    z-index: 100;
    background-color: #000;
    align-items: center
}

@media(max-width:599px) {
    ._navbarDropdown_11nyd_145 {
        display: flex
    }
}

@media(min-width:600px) {
    ._navbarDropdown_11nyd_145 {
        display: flex
    }
}

@media(min-width:950px) {
    ._navbarDropdown_11nyd_145 {
        display: none
    }
}

@media(min-width:1200px) {
    ._navbarDropdown_11nyd_145 {
        display: none
    }
}

._navbarDropdown_11nyd_145 a:hover {
    background-color: #0e0e0e;
    color: var(--grayscale-01-300)
}

._navbarDropdown_11nyd_145 a {
    padding: var(--space-3xs) 0;
    width: 100%;
    text-align: center
}

._root_1cgx0_1 {
    box-sizing: border-box;
    position: relative;
    height: 309px;
    width: 200px;
    cursor: pointer
}

._root_1cgx0_1:hover ._border_1cgx0_8 {
    opacity: 1;
    box-shadow: 0 0 50px rgba(61, 11, 111, .502), 0 0 27.648px rgba(61, 11, 111, .4), 0 0 16.128px rgba(61, 11, 111, .502), 0 0 8.064px rgba(61, 11, 111, .502), 0 0 2.304px #3d0b6f, 0 0 1.152px #3d0b6f
}

._root_1cgx0_1:hover ._actionButtonContainer_1cgx0_12 {
    visibility: visible;
    opacity: 1
}

._root_1cgx0_1:hover ._title_1cgx0_16 {
    visibility: hidden;
    opacity: 0
}

@media(min-width:600px) {
    ._root_1cgx0_1 {
        height: 334px;
        width: 216px
    }
}

._border_1cgx0_8 {
    position: absolute;
    background: var(--color-stroke-02);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: calc(var(--space-md) + 2px);
    z-index: -1;
    opacity: 0;
    transition: opacity .5s ease-in-out, box-shadow .2s ease-in-out
}

._card_1cgx0_40 {
    border-radius: var(--space-md);
    background: var(--color-neutral-800);
    transition: inset .2s ease-in-out, border .2s ease-in-out
}

._card_1cgx0_40,
._card_1cgx0_40 ._content_1cgx0_51 {
    box-sizing: border-box;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute
}

._card_1cgx0_40 ._content_1cgx0_51 {
    padding: var(--space-md);
    transform-origin: center;
    transition: inset .2s ease-in-out;
    display: flex;
    flex-direction: column;
    gap: 12px
}

._card_1cgx0_40 ._content_1cgx0_51 h6 {
    color: var(--color-neutral-100)
}

@media(min-width:600px) {
    ._card_1cgx0_40 ._content_1cgx0_51 {
        padding: 16px
    }

    ._card_1cgx0_40 ._content_1cgx0_51 h6 {
        width: 180px
    }
}

._card_1cgx0_40:hover {
    top: 2px;
    right: 2px;
    bottom: 2px;
    left: 2px
}

._card_1cgx0_40:hover ._content_1cgx0_51 {
    top: -2px;
    right: -2px;
    bottom: -2px;
    left: -2px
}

._storeTitle_1cgx0_99,
._title_1cgx0_16 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    transition: .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    visibility: visible;
    opacity: 1;
    transition: .1s;
    position: relative
}

._actionButtonContainer_1cgx0_12 {
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    gap: var(--space-2xs);
    padding: var(--space-3xs) 0
}

._endActionButtonContainer_1cgx0_130 {
    margin: 0 0 0 auto
}

._bottomContainer_1cgx0_134 {
    position: relative
}

._progressBar_1cgx0_138 {
    --game-card-progress-bar-percentage: 0%;
    height: var(--space-3xs);
    width: 100%;
    background-image: linear-gradient(90deg, var(--color-status-success) var(--download-progress-bar-percentage), var(--color-neutral-600) var(--download-progress-bar-percentage));
    position: relative;
    border-radius: var(--text-xs)
}

._downloadProgressContainer_1cgx0_147 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--space-2xs);
    padding: var(--space-3xs) 0
}

._downloadProgressContainer_1cgx0_147>:first-child {
    color: var(--color-success-400)
}

._downloadProgressContainer_1cgx0_147._paused_1cgx0_157>:first-child,
._downloadProgressContainer_1cgx0_147._paused_1cgx0_157>:nth-child(2) {
    opacity: 50%
}

._settingsMenu_1cgx0_164 {
    position: absolute;
    bottom: 24%;
    width: 75%;
    right: 12.5%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .3);
    -webkit-backdrop-filter: blur(21px);
    backdrop-filter: blur(21px);
    border-radius: var(--space-sm);
    padding: var(--space-sm) var(--space-xs);
    box-sizing: border-box
}

._settingsMenu_1cgx0_164>button {
    width: 100%;
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--space-sm)
}

._settingsMenu_1cgx0_164>button:hover {
    background-color: var(--color-primary-900);
    opacity: 100%
}

._grayscaleFilter_1cgx0_188 {
    filter: grayscale(100%)
}

._storeLogoContainer_1cgx0_192 {
    position: absolute;
    top: calc(2*var(--space-md));
    right: calc(2*var(--space-md))
}

._storeActionButton_1cgx0_198 {
    background-color: rgba(0, 0, 0, .4);
    border-radius: var(--space-xs-fixed);
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    fill: var(--color-neutral-100)
}

._popover_1cgx0_209 {
    background-color: var(--color-neutral-700);
    border: none;
    border-radius: var(--space-sm);
    padding: var(--space-xs) var(--space-sm)
}

._proportions_ffhg3_1 {
    flex: 1 1;
    overflow: hidden;
    border-radius: var(--space-sm);
    position: relative
}

._proportions_ffhg3_1>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 1/1
}

._button_18my9_1 {
    cursor: pointer;
    width: 24px;
    height: 24px;
    align-items: center;
    border-radius: 50%;
    background: var(--color-primary-400);
    border: none;
    filter: drop-shadow(2px 0 40px rgba(61, 11, 111, .5)) drop-shadow(2px 0 40px rgba(61, 11, 111, .4)) drop-shadow(2px 0 32px rgba(61, 11, 111, .7)) drop-shadow(2px 0 8px rgba(61, 11, 111, .5))
}

._button_uoiwg_1 {
    z-index: 2;
    left: 0;
    transform: translate(-50%)
}

._button_uoiwg_1,
._button_vbxox_1 {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center
}

._button_vbxox_1 {
    z-index: 1;
    right: 0;
    transform: translate(50%)
}

._itemContainer_yhojk_1 {
    width: 96px;
    height: 56px;
    background: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    cursor: pointer
}

._root_yhojk_12:first-child,
._root_yhojk_12:last-child {
    position: absolute
}

._imageContainer_yhojk_17 {
    overflow: hidden;
    position: absolute;
    transition: transform .3s ease-in-out, border-radius .3s ease-in-out
}

._border_yhojk_27,
._imageContainer_yhojk_17 {
    width: 96px;
    height: 56px;
    border-radius: 8px;
    z-index: 1
}

._border_yhojk_27 {
    background: var(--color-stroke-02);
    transition: transform .3s ease-in-out
}

._imageContainer_yhojk_17 img {
    width: 100%;
    height: 100%;
    transition: transform .3s ease-in-out
}

._active_yhojk_43 ._border_yhojk_27,
._itemContainer_yhojk_1:hover ._border_yhojk_27 {
    transform: scaleX(1.0408163265) scaleY(1.0689655172)
}

._active_yhojk_43 ._imageContainer_yhojk_17,
._itemContainer_yhojk_1:hover ._imageContainer_yhojk_17 {
    transform: scaleX(.9574468085) scaleY(.9259259259);
    border-radius: 4.7px
}

._active_yhojk_43 img,
._itemContainer_yhojk_1:hover img {
    transform: scaleX(1.0408163265) scaleY(1.0689655172)
}

._root_1m7fw_1 {
    position: relative;
    display: flex;
    gap: var(--space-md);
    width: -moz-fit-content;
    width: fit-content;
    transition: transform .2s, opacity .2s;
    transform: translateY(0);
    opacity: 1;
    z-index: 1
}

._hidden_1m7fw_12 {
    transform: translateY(30px);
    opacity: 0
}

._displayNone_1m7fw_17 {
    display: none
}

._text--6xl_knjfg_36 {
    font-size: var(--text-6xl)
}

._text--5xl_knjfg_40 {
    font-size: var(--text-5xl)
}

._text--4xl_knjfg_44 {
    font-size: var(--text-4xl)
}

._text--3xl_knjfg_48 {
    font-size: var(--text-3xl)
}

._text--2xl_knjfg_52 {
    font-size: var(--text-2xl)
}

._text--xl_knjfg_56 {
    font-size: var(--text-xl)
}

._text--lg_knjfg_60 {
    font-size: var(--text-lg)
}

._text--md_knjfg_64 {
    font-size: var(--text-md)
}

._text--sm_knjfg_68 {
    font-size: var(--text-sm)
}

._text--xs_knjfg_72 {
    font-size: var(--text-xs)
}

._weight--light_knjfg_76 {
    font-weight: var(--light)
}

._weight--regular_knjfg_80 {
    font-weight: var(--regular)
}

._weight--medium_knjfg_84 {
    font-weight: var(--medium)
}

._weight--semibold_knjfg_88 {
    font-weight: var(--semibold)
}

._weight--bold_knjfg_92 {
    font-weight: var(--bold)
}

._weight--extrabold_knjfg_96 {
    font-weight: var(--extrabold)
}

._text--semibold_knjfg_102 {
    font-weight: var(--semibold)
}

._text--bold_knjfg_106 {
    font-weight: var(--bold)
}

._text--extrabold_knjfg_110 {
    font-weight: var(--extrabold)
}

._menu_knjfg_166 {
    font-family: var(--primary-font-family);
    font-size: var(--text-md);
    font-weight: var(--regular);
    line-height: calc(var(--text-md)*24/16);
    letter-spacing: 1%
}

._title_knjfg_174 {
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*28/21)
}

._title-sm_knjfg_181,
._title_knjfg_174 {
    font-family: var(--primary-font-family);
    font-weight: var(--semibold)
}

._title-sm_knjfg_181 {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

._header_knjfg_188 {
    font-family: var(--primary-font-family);
    font-size: var(--text-3xl);
    font-weight: var(--bold);
    line-height: calc(var(--text-3xl)*32/28)
}

._caption_knjfg_195 {
    font-size: var(--text-sm);
    line-height: calc(var(--text-sm)*20/14)
}

._caption-sm_knjfg_202,
._caption_knjfg_195 {
    font-family: var(--secondary-font-family);
    font-weight: var(--regular)
}

._caption-sm_knjfg_202 {
    font-size: var(--text-xs);
    line-height: calc(var(--text-xs)*16/12);
    letter-spacing: .25%
}

._eyebrow_knjfg_210 {
    font-family: var(--secondary-font-family);
    font-size: var(--text-sm);
    font-weight: var(--semibold);
    line-height: calc(var(--text-sm)*20/14)
}

._body_knjfg_217 {
    font-size: var(--text-lg);
    line-height: calc(var(--text-lg)*28/18);
    letter-spacing: .25%
}

._body-sm_knjfg_225,
._body_knjfg_217 {
    font-family: var(--secondary-font-family);
    font-weight: var(--regular)
}

._body-sm_knjfg_225 {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

._button_knjfg_232 {
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*28/21)
}

._button-sm_knjfg_240,
._button_knjfg_232 {
    font-family: var(--secondary-font-family);
    font-weight: var(--medium);
    letter-spacing: -1%
}

._button-sm_knjfg_240 {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

._menu-item_knjfg_248 {
    font-size: var(--text-sm);
    font-weight: var(--bold);
    line-height: var(--text-md);
    font-family: var(--default-secondary-font-family)
}

._controllerAttached_knjfg_255 {
    display: none;
    right: var(--space-xl-fixed);
    bottom: var(--space-xl-fixed);
    position: absolute
}

@media(min-width:950px) {
    ._controllerAttached_knjfg_255 {
        display: block
    }
}

._controllerDetached_knjfg_267 {
    display: none;
    margin-top: var(--space-xl)
}

@media(min-width:950px) {
    ._controllerDetached_knjfg_267 {
        display: block
    }
}

._title_knjfg_174 {
    position: absolute;
    bottom: var(--space-xl-fixed);
    z-index: 2
}

@media(max-width:599px) {
    ._title_knjfg_174 {
        left: var(--space-sm-fixed);
        right: var(--space-sm-fixed)
    }
}

@media(min-width:600px) {
    ._title_knjfg_174 {
        left: var(--space-sm-fixed);
        right: var(--space-sm-fixed)
    }
}

@media(min-width:950px) {
    ._title_knjfg_174 {
        left: var(--space-xl-fixed);
        right: var(--space-xl-fixed)
    }
}

@media(max-width:599px) {
    ._title_knjfg_174>._titleText_knjfg_301 {
        font-family: var(--primary-font-family);
        font-size: var(--text-5xl);
        font-weight: var(--bold);
        line-height: calc(var(--text-5xl)*40/37)
    }
}

@media(min-width:600px) {
    ._title_knjfg_174>._titleText_knjfg_301 {
        font-family: var(--primary-font-family);
        font-size: var(--text-7xl);
        font-weight: var(--bold);
        line-height: calc(var(--text-7xl)*56/50);
        letter-spacing: -1%
    }
}

@media(min-width:950px) {
    ._title_knjfg_174>._titleText_knjfg_301 {
        font-family: var(--primary-font-family);
        font-size: var(--text-9xl);
        font-weight: var(--bold);
        line-height: calc(var(--text-9xl)*76/67);
        letter-spacing: -1%;
        overflow: hidden
    }
}

._slide_knjfg_332 img {
    width: 100%;
    height: 100%;
    object-fit: cover
}

._slide_knjfg_332[id=enableGradient]:after {
    background: linear-gradient(180deg, rgba(12, 11, 15, 0), rgba(12, 11, 15, .9));
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    content: "";
    pointer-events: none
}

._carouselWrapper_knjfg_348 {
    display: inline-block;
    position: relative
}

@media(min-width:950px) {
    ._indicators_knjfg_354 {
        display: none
    }
}

._svgPattern_1lsa6_1 {
    position: fixed
}

._mask_1lsa6_5 {
    background: radial-gradient(41.71% 53.31% at 55.47% 56.27%, rgba(12, 11, 15, 0) 0, var(--app-background) 100%)
}

._mask_1lsa6_5,
._svgContainer_1lsa6_15 {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden
}

._circularButton_1mpr2_1 {
    background: var(--color-primary-500);
    padding: var(--space-lg);
    aspect-ratio: 1/1;
    border: none;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: filter .25s ease-in-out
}

._circularButton_1mpr2_1._disabled_1mpr2_13 {
    opacity: .5;
    cursor: not-allowed
}

._root_1rxa8_1 {
    padding: 0
}

._titleSection_1rxa8_5 {
    padding-bottom: var(--space-xl);
    border-bottom: 1px solid var(--color-neutral-600)
}

._title_1rxa8_5 {
    margin: 0
}

._storeIcon_1rxa8_14 {
    margin-bottom: var(--space-xs)
}

._infoSection_1rxa8_18 {
    display: flex;
    flex-direction: column;
    gap: var(--space-xl)
}

._info_1rxa8_18 {
    padding-top: var(--space-xl)
}

._infoItem_1rxa8_28 {
    padding: var(--space-xs) 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #252832
}

._infoTitle_1rxa8_35 {
    font-weight: 500;
    color: var(--color-neutral-400)
}

._infoValue_1rxa8_40 {
    font-weight: 500;
    text-align: end
}

._platformInfo_1rxa8_45 {
    display: flex;
    gap: var(--space-xs)
}

._platformInfo_1rxa8_45 svg {
    fill: #fff
}

._action_1rxa8_53 {
    width: 100%
}

._container_vxbqe_1 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity .2s ease-in-out;
    pointer-events: none;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    opacity: 0
}

._container_vxbqe_1._open_vxbqe_16 {
    background-color: rgba(19, 20, 26, .102);
    opacity: 1;
    pointer-events: auto
}

._overlay_vxbqe_22 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 0
}

._overlay_vxbqe_22._disabled_vxbqe_30 {
    display: none
}

._modal_vxbqe_34 {
    z-index: 1;
    transform: translateY(-20px);
    transition: transform .3s ease-in-out
}

._modalOpen_vxbqe_40 {
    transform: translateY(0)
}

._root_1jufm_1 {
    display: flex;
    flex-direction: column;
    padding: var(--space-xl) calc(var(--space-xl)*1.25);
    gap: var(--space-2lg);
    border-radius: var(--space-md);
    background: var(--color-neutral-800);
    width: 100%;
    position: relative
}

._headingIcon_1jufm_12 {
    display: flex;
    padding: calc(var(--space-xs)*1.25);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 100%
}

._header_1jufm_22 {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs)
}

._title_1jufm_28 {
    color: #fff;
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*1.25);
    font-weight: var(--bold);
    letter-spacing: -.16px
}

._subtitle_1jufm_36 {
    color: var(--color-neutral-400);
    margin-top: 0;
    margin-bottom: 0
}

._close_1jufm_42 {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 0
}

._modal_1mkop_1 {
    display: flex;
    max-width: 420px;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: var(--color-neutral-800);
    border-radius: var(--space-md)
}

._content_1mkop_11 {
    display: grid;
    grid-gap: calc(var(--space-sm)*2);
    gap: calc(var(--space-sm)*2);
    padding: calc(var(--space-lg)*2)
}

._close_1mkop_17 {
    position: absolute;
    top: -10px;
    right: -10px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--color-primary-500)
}

._close_1mkop_17 svg path {
    fill: var(--color-neutral-200)
}

._close_1mkop_17 svg {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 4px
}

._title_1mkop_37 {
    font-weight: 500
}

._icon_1mkop_41 {
    width: 118px;
    height: 118px
}

._row_1mkop_46 {
    display: flex;
    justify-content: center;
    width: 100%
}

._button_1mkop_52 {
    font-size: var(--text-md)
}

._warning_1h268_1 ._message_1h268_1 {
    color: #b0c1d5
}

._alert_1h268_5 ._icon_1h268_5 svg path {
    fill: var(--color-status-alert)
}

._danger_1h268_9 ._icon_1h268_5 svg path {
    fill: var(--color-status-error)
}

._danger_1h268_9 ._title_1h268_12 {
    color: var(--color-status-error)
}

._container_1h268_16 {
    display: grid;
    grid-template-columns: 24px 1fr 20px;
    grid-template-rows: auto auto;
    grid-gap: 16px 12px;
    gap: 16px 12px;
    background: var(--color-neutral-600);
    padding: var(--space-lg);
    border-radius: var(--space-xs)
}

._icon_1h268_5 {
    grid-area: 1/1/2/3
}

._icon_1h268_5 svg path {
    fill: var(--color-status-alert)
}

._close_1h268_33 {
    grid-area: 1/3/2/4;
    cursor: pointer
}

._close_1h268_33 svg path {
    transition: fill .2s ease-in-out
}

._close_1h268_33 svg:hover path {
    fill: var(--color-neutral-200)
}

._text_1h268_44 {
    grid-area: 1/2/2/3;
    margin-top: -3px;
    display: flex;
    flex-direction: column;
    gap: var(--space-xs)
}

._action_1h268_52 {
    grid-area: 2/2/3/3
}

._action_1h268_52 button {
    padding-left: 0 !important
}

._action_1h268_52 svg {
    margin-left: var(--space-lg)
}

._base_1flru_1 {
    padding: var(--space-xs) var(--space-md);
    border-radius: 8px;
    color: var(--color-neutral-700);
    display: flex;
    align-items: center;
    background-color: var(--color-status-info);
    gap: var(--space-xs);
    font-weight: var(--medium)
}

._danger_1flru_12 {
    background-color: var(--color-status-error)
}

._warning_1flru_16 {
    background-color: var(--color-status-alert)
}

._success_1flru_20 {
    background-color: var(--color-status-success)
}

._info_1flru_24 {
    background-color: var(--color-status-info)
}

._downloadToastContainer_hkxoz_1 {
    max-width: 400px;
    background-color: var(--color-neutral-700);
    padding: var(--space-lg) var(--space-xl);
    border-radius: var(--space-sm);
    border: 1px solid var(--color-neutral-600);
    box-shadow: 0 10px 60px rgba(117, 81, 255, .239)
}

._topBar_hkxoz_10 {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-xs)
}

._topBar_hkxoz_10 svg {
    color: var(--color-neutral-400)
}

._contentContainer_hkxoz_20 {
    display: flex;
    width: 100%;
    gap: var(--space-md)
}

._gameImage_hkxoz_26 {
    height: 100%;
    width: 80px;
    object-fit: cover;
    border-radius: 8px
}

._gameTitle_hkxoz_33 {
    margin-bottom: var(--space-3xs)
}

._statusContainer_hkxoz_37 {
    display: flex;
    justify-content: space-between;
    margin-bottom: var(--space-2xs)
}

._detailsContainer_hkxoz_43 {
    flex-grow: 1
}

._progressBar_hkxoz_47 {
    --download-progress-bar-percentage: 0%;
    height: var(--text-xl);
    width: 100%;
    background-image: linear-gradient(90deg, var(--color-status-success) var(--download-progress-bar-percentage), var(--color-neutral-500) var(--download-progress-bar-percentage));
    position: relative;
    border-radius: var(--space-2xs)
}

._percentCompletedText_hkxoz_56 {
    position: absolute;
    left: 5%;
    top: 0;
    color: var(--color-neutral-900)
}

._manageDownloadContainer_hkxoz_63 {
    margin: var(--space-lg) 0 0 0;
    display: flex;
    justify-content: flex-end
}

._manageDownloadContainer_hkxoz_63 button {
    padding: 0 var(--space-md)
}

._stopDownloadButton_hkxoz_73 {
    color: var(--color-status-error)
}

._downloadNumberContainer_hkxoz_77 {
    display: flex
}

._downloadNumberContainer_hkxoz_77 :first-child {
    color: var(--color-success-400)
}

._downloadNumberContainer_hkxoz_77 :nth-child(2) {
    color: var(--color-neutral-400);
    margin: 0 var(--space-3xs)
}

._downloadNumberContainer_hkxoz_77 :nth-child(3) {
    color: var(--color-neutral-400)
}

._container_1o07e_2 {
    display: block;
    position: relative;
    padding-left: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer
}

._container_1o07e_2:has(>input:disabled) {
    cursor: default
}

._container_1o07e_2 input {
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0
}

._checkmark_1o07e_26:after {
    content: "";
    position: absolute;
    display: none
}

._checkmark_1o07e_26 svg {
    width: 55%;
    height: 55%;
    margin: auto 0
}

._checkmark_1o07e_26._rounded_1o07e_38 {
    border-radius: 100%
}

._container_1o07e_2 input:checked~._checkmark_1o07e_26 {
    background-color: var(--color-primary-500)
}

._container_1o07e_2 input:not(:checked)~._checkmark_1o07e_26 svg {
    display: none
}

._checkmark_1o07e_26 {
    position: absolute;
    top: 0;
    left: 0;
    height: 24px;
    width: 24px;
    background-color: var(--color-primary-500);
    border-radius: var(--space-3xs);
    border: 1px solid var(--color-primary-400);
    display: flex;
    justify-content: center;
    align-content: center;
    --checkbox-checkmark-color: var(--color-neutral-100)
}

._container_1o07e_2 input:hover~._checkmark_1o07e_26 {
    background-color: var(--color-secondary-400);
    border: 1px solid var(--color-secondary-200)
}

._container_1o07e_2 input:disabled~._checkmark_1o07e_26 {
    background-color: var(--color-neutral-700);
    border: 1px solid var(--color-neutral-700);
    --checkbox-checkmark-color: var(--color-neutral-400)
}

._container_1o07e_2 input:checked~._checkmark_1o07e_26._secondary_1o07e_83 {
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-primary-500)
}

._container_1o07e_2 input:not(:checked)~._checkmark_1o07e_26._secondary_1o07e_83 {
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-500)
}

._container_1o07e_2 input:hover~._checkmark_1o07e_26._secondary_1o07e_83 {
    background-color: var(--color-neutral-600);
    border: 1px solid var(--color-secondary-200);
    --checkbox-checkmark-color: var(--color-secondary-200)
}

._container_1o07e_2 input:disabled~._checkmark_1o07e_26._secondary_1o07e_83 {
    background-color: var(--color-neutral-900);
    border: 1px solid var(--color-neutral-700);
    --checkbox-checkmark-color: var(--color-neutral-400)
}

._container_1o07e_2 input:checked~._checkmark_1o07e_26._icon_1o07e_106 {
    background-color: transparent;
    border: 1px solid transparent;
    --checkbox-checkmark-color: var(--color-primary-200)
}

._container_1o07e_2 input:not(:checked)~._checkmark_1o07e_26._icon_1o07e_106 {
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-neutral-600)
}

._container_1o07e_2 input:hover~._checkmark_1o07e_26._icon_1o07e_106 {
    background-color: transparent;
    border: 1px solid var(--color-secondary-200);
    --checkbox-checkmark-color: var(--color-secondary-200)
}

._container_1o07e_2 input:disabled~._checkmark_1o07e_26._icon_1o07e_106 {
    background-color: transparent;
    border: 1px solid transparent;
    --checkbox-checkmark-color: var(--color-neutral-400)
}

._list_1ci3u_1 {
    border: none
}

._list_1ci3u_1>button {
    opacity: 1
}

._list_1ci3u_1>button._tab_1ci3u_7 {
    border-radius: 0
}

._list_1ci3u_1>button._tab_1ci3u_7:first-of-type {
    border-radius: var(--space-xs) 0 0 var(--space-xs)
}

._list_1ci3u_1>button._secondary_1ci3u_13._tab_1ci3u_7:first-of-type {
    border-radius: 0
}

._list_1ci3u_1>button._tab_1ci3u_7:last-of-type {
    border-radius: 0 var(--space-xs) var(--space-xs) 0
}

._list_1ci3u_1>button._secondary_1ci3u_13._tab_1ci3u_7:last-of-type {
    border-radius: 0
}

._list_1ci3u_1._outline_1ci3u_23>button._tab_1ci3u_7 {
    border-top: 1px solid var(--color-neutral-600);
    border-bottom: 1px solid var(--color-neutral-600)
}

._list_1ci3u_1._outline_1ci3u_23>button._tab_1ci3u_7:first-of-type {
    border-left: 1px solid var(--color-neutral-600)
}

._list_1ci3u_1._outline_1ci3u_23>button._tab_1ci3u_7:last-of-type {
    border-right: 1px solid var(--color-neutral-600)
}

._tab_1ci3u_7 {
    background-color: var(--color-neutral-800);
    padding: var(--space-sm) var(--space-md) var(--space-sm) var(--space-md);
    border: none
}

._tab_1ci3u_7[data-active] {
    background-image: var(--color-gradient-01)
}

._tab_1ci3u_7:hover {
    background-color: var(--color-neutral-600);
    border: none
}

._tab_1ci3u_7:hover>span {
    color: var(--color-neutral-300)
}

._tab_1ci3u_7[data-active]>span {
    color: var(--color-neutral-400);
    color: var(--color-neutral-100)
}

._tab_1ci3u_7>span {
    color: var(--color-neutral-400)
}

._tab_1ci3u_7._secondary_1ci3u_13 {
    background-color: transparent;
    border-bottom: 2px solid transparent
}

._tab_1ci3u_7._secondary_1ci3u_13[data-active] {
    background-image: none;
    border-bottom: 2px solid var(--color-primary-200);
    border-bottom-left-radius: 0
}

._tab_1ci3u_7._secondary_1ci3u_13[data-active]>span {
    color: var(--color-primary-200)
}

._switch_1uks2_2 {
    position: relative;
    display: flex;
    height: 30px;
    cursor: pointer
}

._switch_1uks2_2 input {
    opacity: 0;
    width: 0;
    height: 0
}

._switch_1uks2_2:hover input:checked+._slider_1uks2_14 {
    background-color: var(--color-primary-400);
    border: 1px solid var(--color-primary-400)
}

._switch_1uks2_2:hover input:not(:checked)+._slider_1uks2_14 {
    background-color: var(--color-neutral-700);
    border: 1px solid var(--color-neutral-500)
}

._switch_1uks2_2:hover input:disabled:checked+._slider_1uks2_14 {
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500)
}

._switch_1uks2_2:hover input:not(:checked):disabled+._slider_1uks2_14 {
    background-color: var(--color-neutral-800);
    border: 1px solid var(--color-stroke-01)
}

._switch_1uks2_2:hover input:not(:checked)+._slider_1uks2_14:before {
    background-color: var(--color-primary-400)
}

._switch_1uks2_2:hover input:not(:checked):disabled+._slider_1uks2_14:before {
    background-color: var(--color-primary-500)
}

._switch_1uks2_2:has(input:disabled) {
    cursor: default
}

._switch_1uks2_2 input:checked+._slider_1uks2_14 {
    background-color: var(--color-primary-500);
    border: 1px solid var(--color-primary-500)
}

._slider_1uks2_14 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--color-neutral-800);
    transition: .2s;
    border: 1px solid var(--color-stroke-01)
}

._slider_1uks2_14:before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 3px;
    bottom: 3px;
    background-color: var(--color-primary-500);
    transition: .4s
}

._slider_1uks2_14._round_1uks2_71 {
    border-radius: 34px
}

._slider_1uks2_14._round_1uks2_71:before {
    border-radius: 50%
}

input._inputCheckbox_1uks2_78:disabled:checked+._slider_1uks2_14 {
    opacity: .5
}

input._inputCheckbox_1uks2_78:checked+._slider_1uks2_14:before {
    background-color: var(--color-neutral-100);
    transform: translate(30px)
}

._switchContainer_1uks2_92 {
    width: 60px;
    position: relative
}

._label_1e61t_1 {
    color: var(--color-neutral-300)
}

._menuDropdown_1e61t_5>div>div>* {
    color: var(--color-neutral-400)
}

._menuDropdown_1e61t_5>div:not(:first-child) {
    padding: var(--space-sm)
}

._menuDropdown_1e61t_5 :hover:not(input[type=checkbox]) {
    opacity: 1
}

._menuDropdown_1e61t_5 [data-hovered=true] {
    background-color: var(--color-neutral-600)
}

._menuDropdown_1e61t_5 [data-hovered=true]>div>*,
._menuDropdown_1e61t_5 [data-hovered=true]>div>div>:first-child {
    color: var(--color-neutral-100)
}

._menuDropdown_1e61t_5 {
    background-color: var(--color-neutral-800);
    color: var(--color-neutral-400);
    border: none;
    padding: 0;
    border-radius: 0 0 var(--space-sm) var(--space-sm);
    position: absolute
}

._menuDropdown_1e61t_5>div {
    display: flex;
    flex-direction: column;
    align-items: baseline
}

._menuDropdown_1e61t_5>div>* {
    padding: var(--space-sm);
    border-radius: var(--space-sm);
    width: 100%;
    text-align: left
}

._selected_1e61t_48 {
    color: var(--color-secondary-200)
}

._genericButton_1e61t_52 {
    text-align: left
}

._genericButton_1e61t_52[aria-expanded=true] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

._text--6xl_m77z9_36 {
    font-size: var(--text-6xl)
}

._text--5xl_m77z9_40 {
    font-size: var(--text-5xl)
}

._text--4xl_m77z9_44 {
    font-size: var(--text-4xl)
}

._text--3xl_m77z9_48 {
    font-size: var(--text-3xl)
}

._text--2xl_m77z9_52 {
    font-size: var(--text-2xl)
}

._text--xl_m77z9_56 {
    font-size: var(--text-xl)
}

._text--lg_m77z9_60 {
    font-size: var(--text-lg)
}

._text--md_m77z9_64 {
    font-size: var(--text-md)
}

._text--sm_m77z9_68 {
    font-size: var(--text-sm)
}

._text--xs_m77z9_72 {
    font-size: var(--text-xs)
}

._weight--light_m77z9_76 {
    font-weight: var(--light)
}

._weight--regular_m77z9_80 {
    font-weight: var(--regular)
}

._weight--medium_m77z9_84 {
    font-weight: var(--medium)
}

._weight--semibold_m77z9_88 {
    font-weight: var(--semibold)
}

._weight--bold_m77z9_92 {
    font-weight: var(--bold)
}

._weight--extrabold_m77z9_96 {
    font-weight: var(--extrabold)
}

._text--semibold_m77z9_102 {
    font-weight: var(--semibold)
}

._text--bold_m77z9_106 {
    font-weight: var(--bold)
}

._text--extrabold_m77z9_110 {
    font-weight: var(--extrabold)
}

._menu_m77z9_166 {
    font-family: var(--primary-font-family);
    font-size: var(--text-md);
    font-weight: var(--regular);
    line-height: calc(var(--text-md)*24/16);
    letter-spacing: 1%
}

._title_m77z9_174 {
    font-size: var(--text-xl);
    line-height: calc(var(--text-xl)*28/21)
}

._title-sm_m77z9_181,
._title_m77z9_174 {
    font-family: var(--primary-font-family);
    font-weight: var(--semibold)
}

._title-sm_m77z9_181 {
    font-size: var(--text-md);
    line-height: calc(var(--text-md)*24/16)
}

._header_m77z9_188 {
    font-family: var(--primary-font-family);
    font-size: var(--text-3xl);
    font-weight: var(--bold);
    line-height: calc(var(--text-3xl)*32/28)
}

._caption_m77z9_195 {
    font-size: var(--text-sm);
    line-height: calc(var(--text-sm)*20/14)
}

._caption-sm_m77z9_202,
._caption_m77z9_195 {
    font-family: var(--secondary-font-family);
    font-weight: var(--regular)
}

._caption-sm_m77z9_202 {
    font-size: var(--text-xs);
    line-height: calc(var(--text-xs)*16/12);
    letter-spacing: .25%
}

._eyebrow_m77z9_210 {
    font-family: var(--secondary-font-family);
    font-size: var(--text-sm);
    font-weight: var(--semibold);
    line-height: calc(var(--text-sm)*20/14)
}

._body_m77z9_217,
._item_m77z9_217 {
    font-size: var(--text-lg);
    line-height: calc(var(--text-lg)*28/18);
    letter-spacing: .25%
}